/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,400;1,400;1,700&display=swap'); 


* {
    box-sizing: border-box;
    background-color: black; 
    color: white; 
}



body {
    margin: 0; 
}

/* NAV BAR UNDERNEATH */
nav {
    position: absolute; 
    top:0px; 
    min-width: 100%;  
    max-height: 10%; 
    background-color: blue;
    font-family: 'Josefin Slab', serif; 
    font-style: italic;
  
}

nav ul { 
    display: flex;
    justify-content: flex-end; 
    list-style: none;
    text-decoration: none; 

    
}



nav li {
    margin-right: 2%; 
       
}

nav li::first-letter{
    font-size:x-large
}

nav li a:link{
    text-decoration: none; 
}

nav  ul li:nth-child(1)  a:hover {
    color: red; 
    animation-name: constellation-one;
    animation-duration: 4s; 
}
/* selects every li element that is the first child of it's parent - here the parent is the ul SO it's the first li in the ul, and then when the link is hovered  */

@keyframes constellation-one {
    100% {
        
    }

}

/* NAV BAR ABOVE  */

